{{ define "main" }}
<div class="secao-full tom-a">
<section class="lista-palestras">
  <h1>Palestras</h1>
  <p class="secao-intro">Vídeos e materiais de apoio das palestras que já apresentei.</p>

  <div class="grid-palestras">
    {{ range .Pages.ByDate.Reverse }}
    <article class="card-palestra">
      <a href="{{ .RelPermalink }}" class="card-palestra-link">
        {{ with .Date }}{{ $m := index (slice "" "janeiro" "fevereiro" "março" "abril" "maio" "junho" "julho" "agosto" "setembro" "outubro" "novembro" "dezembro") (int (.Format "1")) }}<p class="card-palestra-data">{{ .Format "2" }} de {{ $m }} de {{ .Format "2006" }}</p>{{ end }}
        <h2>{{ .Title }}</h2>
        {{ with .Params.local }}<p class="card-palestra-local">{{ . }}</p>{{ end }}
        <p>{{ .Params.descricao }}</p>
        <span class="leia-mais">VER PALESTRA</span>
      </a>
    </article>
    {{ end }}
  </div>
</section>
</div>
{{ end }}
